<h1>Editing island</h1>

<%= error_messages_for :island %>

<% form_for(@island) do |f| %>
  <p>
    <b>Ikariam</b><br />
    <%= f.text_field :ikariam_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @island %> |
<%= link_to 'Back', islands_path %>
