<p>
  <b>Ikariam:</b>
  <%=h @island.ikariam_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @island.name %>
</p>

<p>
  <b>X:</b>
  <%=h @island.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @island.y %>
</p>


<%= link_to 'Edit', edit_island_path(@island) %> |
<%= link_to 'Back', islands_path %>
