<p>
  <b>Island:</b>
  <%=link_to @town.island.name, edit_island_path(@town.island) %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @town.updated_at %>
</p>

<p>
  <b>Name:</b>
  <%=h @town.name %>
</p>

<p>
  <b>Owner:</b>
  <%=link_to @town.player.ikariam_login, edit_player_path(@town.player) %>
</p>


<%= link_to 'Edit', edit_town_path(@town) %> |
<%= link_to 'Back', towns_path %>
