<p>
  <b>Ikariam:</b>
  <%=h @player.ikariam_id %>
</p>

<p>
  <b>Ikariam login:</b>
  <%=h @player.ikariam_login %>
</p>

<p>
  <b>Server:</b>
  <%= link_to @player.server.name, edit_server_path(@player.server) %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
