<h1>Machine Elf 2.0</h1>

<html>

  <head>
    <title>Machine Elf 2.0</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>

    <div id="toolbar">
      <div id="toolbar_entries">
        <% if !current_user.nil? %>
        <% if current_user.is_korps? %>
        <a href="/">Main</a>
        <a href="/towns">Towns</a>
        <a href="/islands">Islands</a>
        <a href="/players">Players</a>
        <a href="/servers">Servers</a>
      </div>
      <div id="logout">
        <%= link_to 'Logout', logout_path %>
      </div>
      <% end %>
      <% end %>
    </div>

    <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

    <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>

    <%= @content_for_layout %>

    <div id="footer">
      <% if !current_user.nil? %>
      <% if current_user.is_korps? %>
      <i>Download the Machine Elf 2.0 Firefox toolbar <a href="/toolbars/machineelf-0.1-r<%= get_bzr_revno %>.xpi">here</a></i>.
      <% end %>
      <% end %>
    </div>

  </body>
</html>
